<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Booker</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/Books}">All
							Books</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br />
	<br />
	<div class="container">
		<h1>Books</h1>
		<!-- PAGINATION BEGIN -->
		<table>
			<th:block th:each="book, iStat : ${bookPage.content}"
				th:style="${iStat.odd}? 'font-weight: bold;'"
				th:alt-title="${iStat.even}? 'even' : 'odd'"
				style="display: flex; flex-wrap: wrap"><a
				th:href="@{/Books/{id}(id=${book.id})}"
				style="text-align: justify; margin-left: 2vw;display:inline-flex"> 
				<div style="text-align:center;max-width: 10vw;"><img
					th:src="@{/images/{url}(url=${book.image})}"
					style="max-height: 25vh;;max-width: 10vw;" />
					<p th:text="${book.title}"
						style="margin-top: 1vh;word-wrap:break-word"></p>
						</div>
			</a></th:block>
		</table>
		<div th:if="${bookPage.totalPages > 0}" class="pagination"
			th:each="pageNumber : ${pageNumbers}">
			<a th:href="@{/Books(size=${bookPage.size}, page=${pageNumber})}"
				th:text=${pageNumber}
				th:class="${pageNumber==bookPage.number + 1} ? active"></a>
		</div>

		<!-- PAGINATION END -->
	</div>
</body>
</html>
