<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Booker</title>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link href="/images/favicon.ico" rel="shortcut icon" />
</head>
<body>
	<div th:replace="navigationBar :: nav"></div>
	<div class="container">
		<h1>Books</h1>
		<div th:if="${param.errorPermissions}">
			<div class="alert alert-warning">You can't do that ! Wrong
				Permissions !</div>
		</div>
		<div th:if="${param.bookCreated}">
			<div class="alert alert-info"> Book Created !</div>
		</div>
		<!-- PAGINATION BEGIN -->
		<div id="searchBar" class="mb-0">
			<form th:action="@{/Books/search}" method="get" th:object="${sForm}">
				<div class="row m-3">
					<select th:field="*{searchCriter}">
						<option th:value="none">SimpleSearch</option>
						<option th:value="author">By Author</option>
						<option th:value="title">By Title</option>
						<option th:value="edition">By Edition</option>
					</select> <input type="text" id="search" name="search"
						placeholder="You want it ? Find it ..." autofocus="autofocus"
						required th:field="*{searchValue}" class="m-1"> <input
						type="submit" name="search-submit" id="search-submit"
						class=" btn btn-primary m-1" value="Find" /> <a
						th:href="@{/Books}" class="btn btn-primary m-1">Reset</a>
				</div>
			</form>
		</div>
		<div class="container flex-wrap d-inline-flex">
			<table>
				<th:block th:each="book, iStat : ${bookPage.content}"
					th:style="${iStat.odd}? 'font-weight: bold;'"
					th:alt-title="${iStat.even}? 'even' : 'odd'"
					style="display: flex; flex-wrap: wrap">
					<a th:href="@{/Books/{id}(id=${book.id})}" class="d-inline-flex"
						style="text-align: justify; margin-left: 2vw">
						<div style="text-align: center; max-width: 10vw;">
							<img th:src="@{/images/{url}(url=${book.image})}"
								style="max-height: 25vh; max-width: 10vw" />
							<p th:text="${book.title}"
								style="margin-top: 1vh; word-wrap: break-word"></p>
						</div>
					</a>
				</th:block>
			</table>
		</div>
		<div class="row  " style="justify-content: center">
			<div th:if="${bookPage.totalPages > 0}" class="pagination pr-2"
				th:each="pageNumber : ${pageNumbers}">
				<a th:href="@{/Books(size=${bookPage.size}, page=${pageNumber})}"
					th:text=${pageNumber}
					th:class="${pageNumber==bookPage.number + 1} ? active"></a>
			</div>
		</div>

		<!-- PAGINATION END -->
	</div>
</body>
<div th:replace="footer :: footer"></div>
</html>
