<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Booker</title>

<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link href="/images/favicon.ico" rel="shortcut icon"/>
</head>
<body>
	<div th:replace="navigationBar :: nav"></div>
	<div class="container" style="max-width:50vw">
		<h2 style="margin-left: 40vw">Add a book :</h2>
		<form method="POST" th:action="@{/Books/create}"
			th:object="${bookDto}" encType="multipart/form-data">
			<div class="form-group">
				<label for="title">Title : </label> <input required type="text"
					name="title" class="form-control" maxlength="50"/>
			</div>
			<div class="form-group">

				<label for="description">Description : </label>
				<textarea required name="description" class="form-control"></textarea>
			</div>
			<div class="form-group">

				<label for="edition">Edition :</label> <input required type="text"
					name="edition" class="form-control" maxlength="50"/>
			</div>
			<div class="form-group">

				<label for="releaseDate">Release Date :</label> <input required
					type="date" name="releaseDate" class="form-control" />
			</div>
			<div class="form-group">
				<label for="image">Add the cover image :</label> <input required
					type="file" accept="image/*" name="image" class="form-control" />
			</div>
			<div class="form-group" style="text-align:center">
				<input type="reset" value="Reset" class="btn btn-primary"> 
				<input type="submit" value="Add" class="btn btn-primary"/>
			</div>
		</form>
	</div>
</body>
<div th:replace="footer :: footer"></div>
</html>
