<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Booker - Details</title>

<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link href="/img/favicon.ico" rel="shortcut icon" />
<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</head>
<body class="mb-3">
	<div th:replace="navigationBar :: nav"></div>
	<div class="container">
		<h1 th:utext=${book.title}></h1>
		<div th:if="${param.errorPermissions}">
			<div class="alert alert-warning">You can't do that ! Wrong
				Permissions !</div>
		</div>
		<div th:if="${param.ratingSucces}">
			<div class="alert alert-info">Rating Applied !</div>
		</div>
		<div th:if="${param.commentAdd}">
			<div class="alert alert-info">Comment Added !</div>
		</div>
		<div th:if="${param.commentEdit}">
			<div class="alert alert-info">Comment Edited !</div>
		</div>
		<div th:if="${param.commentDeleted}">
			<div class="alert alert-info">Comment Deleted !</div>
		</div>
		<div th:if="${param.bookUpdated}">
			<div class="alert alert-info">Book Updated !</div>
		</div>
		
		
		<hr />
		<img th:src="@{/img/favicon.ico}" class="m-3"
			style="max-width: 25vw; margin-bottom: 3vh" />

		<dl class="row">
			<dt class="col-sm-2">Title :</dt>
			<dd class="col-sm-10" th:utext="${book.title}"
				style="margin-bottom: 1vh"></dd>
			<dt class="col-sm-2">Author :</dt>
			<dd class="col-sm-10" th:utext="${book.author.getFullName}"
				style="margin-bottom: 1vh"></dd>
			<dt class="col-sm-2">Edition :</dt>
			<dd class="col-sm-10" th:utext="${book.edition}"
				style="margin-bottom: 1vh"></dd>
			<dt class="col-sm-2">Release Date :</dt>
			<dd class="col-sm-10" th:utext="${book.releaseDate}"
				style="margin-bottom: 1vh"></dd>
			<dt class="col-sm-2">Description :</dt>
			<dd class="col-sm-10" th:utext="${book.description}"
				style="margin-bottom: 1vh"></dd>
			<dt class="col-sm-2">Rating :</dt>
			<dd class="col-sm-10"
				th:utext="${ratingGlobalValue} == 7 ? 'No rating yet' : ${ratingGlobalValue}"
				style="margin-bottom: 1vh"></dd>
		</dl>
		<hr>
		<div class="row">
			<form th:action="@{/Books/{id}/rate(id=${book.id})}" method="post"
				class="mb-2">
				<label for="value" class="m-2">Rate (0-5) :</label> <input
					type="number" max="5" min"0" step="1" name="value"
					th:value="${ratingUserValue} == 7 ? '' : ${ratingUserValue} " />
				<button type="submit" class="btn btn-primary m-1">Rate</button>
			</form>
		</div>
		<div th:if="${book.author.id==userId }" class="row m-2" sec:authorize="hasRole('ROLE_AUTHOR')">
			<a th:href="@{/Books/{id}/update(id=${book.id})}"
				class="btn btn-primary mr-2">Update this book</a>
			<form th:action="@{/Books/{id}/delete(id=${book.id})}" method="post">
				<button type="submit" class="btn btn-danger ">Delete this
					Book</button>
			</form>
		</div>
		<div th:else class="row m-2" sec:authorize="hasRole('ROLE_ADMIN')">
			<a th:href="@{/Books/{id}/update(id=${book.id})}"
				class="btn btn-primary mr-2">Update this book</a>
			<form th:action="@{/Books/{id}/delete(id=${book.id})}" method="post">
				<button type="submit" class="btn btn-danger ">Delete this
					Book</button>
			</form>
		</div>
		
		<hr>
		<h3 class="mt-3">Add a comment</h3>
		<form th:action="@{/Books/{id}/createComment(id=${book.id})}"
			method="post" th:object="${comForm}">
			<textarea name="data" class="form-control m-3"></textarea>
			<button type="submit" class="btn btn-success ml-3">Add
				comment</button>
		</form>
		<hr>
		<h3>Comments</h3>
		<div th:each="com : ${comments}">
			<div class="card mb-5">
				<div th:switch="${com.author.id==userId }">
					<i th:case="true" class="fas fa-check green-text">
						<form
							th:action="@{/Books/{id}/comment/{comId}/update(id=${book.id},comId=${com.id})}"
							method="post" th:object="${comForm}" class="card-footer">
							<textarea name="data" class="form-control card-body"
								th:utext="${com.data}"></textarea>
							<button type="submit" class="btn btn-success m-1">Update</button>
						</form>

						<form
							th:action="@{/Books/{id}/comment/{comId}/delete(id=${book.id},comId=${com.id})}"
							method="post" class="card-footer">
							<button type="submit" class="btn btn-danger m-1 ">Delete</button>
						</form>
					</i> <i th:case="false" class="fas fa-times red-text"><div
							class="card-body" th:utext="${com.data}"></div>
						<div class="card-footer">
							<span>By : <span th:utext="${com.author.fullName}"></span><br>
								Last updated : <span th:utext="${com.publicationDate}"></span></span>
						</div>
						<div sec:authorize="hasRole('ROLE_ADMIN')">
							<form
								th:action="@{/Books/{id}/comment/{comId}/delete(id=${book.id},comId=${com.id})}"
								method="post" class="card-footer">
								<button type="submit" class="btn btn-danger m-1 ">Delete
									has Admin</button>
							</form>

						</div></i>
				</div>
			</div>
		</div>

	</div>
	</div>
</body>
<br>
<br>
<br>
<div th:replace="footer :: footer" class="mt-2"></div>
</html>
