<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Booker</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/Books}">All
							Books</a></li>
					<li sec:authorize="hasRole('ROLE_AUTHOR')"><a
						th:href="@{/Books/create}">Add Book</a></li>
					<li sec:authorize="hasRole('ROLE_AUTHOR')"><a
						th:href="@{/mybooks}">My Books</a></li>

					<li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">Profile</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<h1>Home Page</h1>
		Welcome <span sec:authentication="principal.fullName"> User</span>

		<div sec:authorize="hasRole('ROLE_READER')">You can access to
			all the books by clicking on "All books" in the navigation bar.</div>
		<div sec:authorize="hasRole('ROLE_AUTHOR')">You can add your
			books to our database and access to the list of your book with the
			button "My books".</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">You have full access
			to the application as an Administrator.</div>
	</div>
</body>
</html>
