<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Booker</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>
<body>
	<div th:replace="navigationBar :: nav"></div>
	<div class="container">
		<h1>Home Page</h1>
		Welcome <span sec:authentication="principal.fullName"> User</span>

		<div sec:authorize="hasRole('ROLE_READER')">You can access to
			all the books by clicking on "All books" in the navigation bar.</div>
		<div sec:authorize="hasRole('ROLE_AUTHOR')">You can add your
			books to our database and access to the list of your book with the
			button "My books".</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">You have full access
			to the application as an Administrator.</div>
	</div>
</body>
<div th:replace="footer :: footer"></div>
</html>
