<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Booker - Details</title>

<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link href="/img/favicon.ico" rel="shortcut icon" />
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="navigationBar :: nav"></div>
	<div class="container w-25" style="font-size: 2vh">
		<h2 th:utext=${book.title}>title-holder</h2>
		<div>
			<form method="POST" th:action="@{/Books/{id}/update(id=${book.id})}"
				th:object="${bookDto}" encType="multipart/form-data">
				<div class="form-group">
					<label for="title">Edit Title : </label> <input type="text"
						name="title" class="form-control" th:value="${book.title}" />
				</div>
				<div class="form-group">
					<label for="description">Edit Description :</label>
					<textarea name="description" class="form-control"
						th:utext="${book.description}"></textarea>
				</div>
				<div class="form-group">

					<label for="edition">Edit Edition :</label> <input required
						type="text" name="edition" class="form-control"
						th:value="${book.edition}" />
				</div>
				<div class="form-group">
					<label for="releaseDate">Release Date : </label> <input type="date"
						name="releaseDate" class="form-control"
						th:value="${book.releaseDate}" />
				</div>
				<div class="form-group">
					<label for="image">Edit the cover image :</label> <img
						th:src="@{/img/{url}(url=${book.image})}" class="m-3"
						style="max-width: 5vw; max-height: 30vh; margin-bottom: 3vh" /><input
						type="file" accept="image/*" name="image" class="form-control"
						th:value="${book.image}" />
				</div>
				<div class="form-group" style="text-align: center">
					<input type="submit" value="Update" class="btn btn-primary" />
				</div>
			</form>
			<form th:action="@{/Books/{id}/delete(id=${book.id})}" method="post">
				<div class="form-group" style="text-align: center">
					<button type="submit" class="btn btn-warning">Delete</button>
				</div>
			</form>
		</div>
	</div>
</body>
<br>
<br>
<div th:replace="footer :: footer"></div>
</html>
